<div class="row row-cols-2 row-cols-md-5">
    @for (int i = 1; i <=<Count; i++)
    {
        <div class="col g-2">
            <div class="bg-secondary p-2 text-center">

            </div>

            </div>
    }

</div>

@code {
    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public int FizzValue { get; set; }

    [Parameter]
    public int BuzzValue { get; set; }

}
